* {
    font-family: "Muli", sans-serif;
}
.container {
    max-width: 600px;
    margin: 0 auto;
}

.ar-accordion {
    border-radius: 4px;
    border: 1px solid #d2d8e1;
}
.ar-accordion-item {
    border-bottom: 1px solid #d2d8e1;
}
.ar-accordion-item .ar-accordion-item-title {
    padding: 10px;
}
.ar-accordion-item .ar-accordion-item-content {
    border-top: 1px solid #d2d8e1;
    background: #eeeeee;
    padding: 10px;
}
.ar-accordion-item {
    border-bottom: 1px solid #d2d8e1;
}
.ar-accordion-item:last-of-type {
    border-bottom: none;
}

.note {
    border-radius: 5px;
    background: #cccccc;
    padding: 10px;
}

.example {
    border: 1px solid #cccccc;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
}

h3 {
    margin: 0 0 20px 0;
}

pre {
    margin: 20px 0 0;
}

h1 {
    color: #1b8445;
}

.property {
    border-bottom: 1px solid #cccccc;
}
.prop-title {
    font-weight: bold;
    color: #1b8445;
}

.usage {
    margin-bottom: 20px;
}

.hljs *,
.usage {
    font-family: "Source Code Pro", monospace;
    font-size: 13px;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #232323;
    color: #e6e1dc;
    border-radius: 5px;
}
.hljs-comment,
.hljs-quote {
    color: #bc9458;
    font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag {
    color: #c26230;
}
.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
    color: #a5c261;
}
.hljs-subst {
    color: #519f50;
}
.hljs-tag,
.hljs-name {
    color: #e8bf6a;
}
.hljs-type {
    color: #da4939;
}
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
    color: #6d9cbe;
}
.hljs-params {
    color: #d0d0ff;
}
.hljs-attribute {
    color: #cda869;
}
.hljs-meta {
    color: #9b859d;
}
.hljs-title,
.hljs-section {
    color: #ffc66d;
}
.hljs-addition {
    background-color: #144212;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
}
.hljs-deletion {
    background-color: #600;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
}
.hljs-selector-class {
    color: #9b703f;
}
.hljs-selector-id {
    color: #8b98ab;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: bold;
}
.hljs-link {
    text-decoration: underline;
}
